.top-header .nav-item:hover .dropdown-overlay {
  height: 100%;
}

.top-header .nav-item:hover .dropdown-menu {
  opacity: 1;
}

.dropdown-overlay {
  position: fixed;
  top: var(--header-height);
  max-height: 100vh;
  height: 0%;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: height calc(var(--transition-speed) * 0.5) ease-in-out;
}

.dropdown-menu {
  opacity: 0;
  background-color: #fff;
  transition: opacity calc(var(--transition-speed) + 100ms) ease-in-out;
  overflow: hidden;
  padding: 1rem;
}

.dropdown-menu.products .dropdown-content {
  margin-left: 150px;
}

.dropdown-menu .dropdown-content {
  display: flex;
  gap: 20px;
}

.dropdown-menu .product {
  padding: 1rem;
  display: flex;
  gap: 15px;
  width: 250px;
  transition: background-color var(--transition-speed) ease-in-out;
  border-radius: 15px;
  cursor: pointer;
}

.dropdown-menu .product:hover {
  background-color: rgba(104, 88, 65, 0.05);
}

.dropdown-menu .product:hover .product-header {
  color: var(--text-link-hover);
}

.dropdown-menu .icon-container {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.dropdown-menu .icon-container i {
  color: var(--text-link-hover);
  font-size: var(--size-20);
}

.dropdown-menu .content-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.dropdown-menu .product-header {
  transition: color var(--transition-speed) ease-in-out;
}

.dropdown-menu .product-content {
  color: var(--text-color-soft);
  font-size: var(--size-14);
  line-height: 1.3rem;
}
