:root {
  --bg-base: hsl(0, 0%, 100%);
  --bg-soft: rgb(224, 224, 224);
  --bg-accented: rgb(242, 238, 232);
  --font-base: rgb(30, 25, 25);
  --font-soft: rgba(82, 74, 62, 0.82);
  --btn-primary: rgb(0, 97, 254);
  --lnk-hover: rgb(0, 97, 254);
}
