.top-header {
  width: 100%;
  border-bottom: 1px solid var(--border);
  position: relative;
}

.top-header .header-container {
  display: flex;
  align-items: center;
  font-size: var(--size-14);
  height: var(--nav-size);
  overflow: hidden;
}

.top-header .header-logo {
  display: flex;
  margin-right: 40px;
}

.top-header .header-logo img {
  width: 100px;
}

.top-header .top-navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.top-header .left-navigation,
.top-header .right-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.top-header .top-navigation i {
  margin-left: 10px;
}

.top-header .top-navigation a {
  color: var(--text-color);
  transition: color var(--transition-speed) ease;
}

.top-header .top-navigation a:hover {
  color: var(--lnk-hover);
}

.top-header .left-navigation a {
  font-weight: bold;
}

.top-header .get-started-btn {
  font-weight: bold;
  color: white;
  font-size: var(--size-16);
  background: var(--btn-primary);
  padding: 11px 18px;
  border-radius: 10px;
  margin-left: 10px;
}

.top-header .get-started-btn:hover {
  background-color: rgb(0, 65, 168);
}

.header-dropdown {
  background-color: white;
  position: absolute;
  height: 0px;
  top: 100%;
  left: 0;
  right: 0;
  transition: height var(--transition-speed) ease;
  overflow: hidden;
}

.header-dropdown.active {
  height: 350px;
}

.products-container {
  display: flex;
}

.products-container .product-link {
  padding: 10px;
  max-width: 230px;
  display: flex;
  gap: 20px;
  transition: background-color var(--transition-speed) ease,
    color var(--transition-speed) ease;
  border-radius: 10px;
}

.products-container .product-link:hover {
  background-color: var(--bg-accent);
  color: unset;
}

.products-container .product-link i {
  font-size: var(--size-18);
  padding: 5px;
  border: 1px solid var(--border);
  border-radius: 5px;
  color: var(--lnk-hover);
}

.content-container {
  line-height: 1.5;
}

.content-container .product-header {
  font-size: var(--size-18);
}

.content-container .product-description {
  font-size: var(--size-12);
  color: var(--text-soft);
  font-weight: 400;
}
